section {
    height: 100vh;
    background-color: gray;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 640px) {
        align-items: unset;
    }
}


