section {
    
    min-width: 300px;
    max-width: 720px;
    border: 1px solid rgb(165, 106, 29);
    border-radius: 16px;
    background-color: white;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 16px 16px;
    gap: 10px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 8px;
}

button {
    width: 150px;
}

:host ::ng-deep app-header mat-toolbar{
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
}

:host ::ng-deep mat-divider {
    border-top-color: gray;
}

::ng-deep app-text-input, 
app-datepicker-input, 
app-option-select, 
app-hobbies, 
app-location-form, 
app-option-select, 
app-colorpicker-input {
    flex: 1 1 auto !important;
}

::ng-deep mat-form-field {
    width: 100% !important;
}

