<section>
    <app-header [title]="'New Car Requst'"></app-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        
        <ng-container *ngFor="let control of formStructure.childrens; let i = index">
            <ng-container *ngIf="control.AsChildrens() else isControl">
                <ng-container [formGroupName]="control.data.key!">
                    <div>
                        <h2>{{ control.data.label | titlecase}}</h2>
                        <div class="container">
                            <ng-container *ngFor="let control of control.GetChildrens()">
                                <app-dynamic-input-loader [control]="control"></app-dynamic-input-loader>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #isControl>
                <app-dynamic-input-loader [control]="control"></app-dynamic-input-loader>
            </ng-template>
            <mat-divider *ngIf="i < formStructure.childrens.length - 1"></mat-divider>
        </ng-container>
    
        <button 
        [disabled]="form.invalid"
        type="submit"
        mat-raised-button
        color="primary"
        > submit </button>
    </form>
</section>