<ng-container [formGroup]="parentForm">
    <mat-form-field>
        <mat-label>Video keywords</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter keywords" [formControlName]="childFromName" >
            <ng-container *ngFor="let hobby of hobbies">
                <mat-chip-row (removed)="removeKeyword(hobby)">
                    {{hobby}}
                    <button matChipRemove aria-label="'remove ' + keyword">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row></ng-container>
        </mat-chip-grid>
        <input placeholder="New keyword..."
                [matChipInputFor]="chipGrid"
                (matChipInputTokenEnd)="add($event)"/>

        <mat-error> hobby is required </mat-error>
      </mat-form-field>
</ng-container>
