<app-header [title]="'CarMatch AI'">
    <div class="buttons-container">
        <button mat-stroked-button (click)="gotoDashboard('../dashboard')">
            <mat-icon>dashboard</mat-icon>
            <span>{{"dashboard" | titlecase}}</span>
        </button>
    </div>  
</app-header>
<section loading="lazy">
    <div class="about">
        <hgroup>
            <h1>{{ "Welcome to CarMatch AI " | uppercase}}</h1>
            <p class="main-title">{{ "Discover the Future of Car Ownership." | titlecase}}</p>
        </hgroup>

        <p class="about-paragraph">
            Our cutting-edge artificial intelligence model is designed to understand you - your preferences, your lifestyle, and your aspirations.
            Say goodbye to the hassle of browsing through countless options.
            our AI is here to match you with the car that perfectly suits you.
        </p>
        
        
    </div>
    <div class="content">

        <div class="description">
            <h1>How It Works:</h1>
            <ol>
                <li>
                    <p><strong>Tell Us About You:</strong> Fill out a simple form with your preferences and details.</p>
                </li>
                <li>
                    <p><strong>AI Magic:</strong> Our advanced AI processes your information to understand your unique needs.</p>
                </li>
                <li>
                    <p><strong>Your Perfect Match:</strong> Receive a tailored recommendation for the car that aligns with your lifestyle and budget.</p>
                </li>
            </ol>
            <div class="summary">
                <p>No more guesswork. No more compromise. Experience the future of car buying with CarMatch AI.</p>
                <p>Ready to find your ideal ride? Let's get started!</p>
            </div>

            <br>
            <div class="buttons-container">
                <button mat-raised-button color="primary" (click)="goto('../car-request')">
                    <mat-icon>drafts</mat-icon>
                    <span>{{"form" | titlecase}}</span>
                </button>
            </div>

        </div>

    </div>
    <div class="end-text">
        <p>
            revolutionizing the way you find your perfect car. 
        </p>
    </div>
</section>
