section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--mat-toolbar-standard-height));
    overflow-y: auto;
    padding-block: 16px;
    box-sizing: border-box;
    background-color: var(--app-accent-400);
    background-image: url("../../../../assets/images/backgroundillustration.jpg");
    background-size: cover;
    background-blend-mode: multiply;

}

.about {
    max-width: 720px;
    padding: 30px;
    box-sizing: border-box;
}

h1, ol, .summary {
    font-family: sans-serif;
    color: var(--app-primary-lighter);
}

ol, .summary {
    font-size: large;
}

li::marker {
    color: var(--app-primary-50);
}

.main-title {
    font-family: serif;
    font-size: xxx-large;
    line-height: 50px;
    font-weight: 100;
    color: var(--app-primary-lighter);
}

.about-paragraph {
    font-family: sans-serif;
    font-size: large;
    font-weight: 600;
    color: var(--app-primary-lighter);
    line-height: 25px;

}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
}

.actions-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons-container {
    text-align: center;
}

button {
    align-items: center;
    gap: 10px;
    font-size: large;
}

.end-text {
    margin-block-start: auto;
    width: 100%;
    text-align: center;
    & > p {
        color: var(--app-primary-50);
        font-size: x-large;
    }
}

span {
    color: var(--app-primary-50);
}

:host mat-icon {
    color: var(--app-primary-50) !important;
}

@media (max-width: 599px)
{
    section {
        height: calc(100vh - var(--mat-toolbar-mobile-height));
    }

    .about, .content {
        padding: 20px 15px;
    }
    
}