section {
    height: calc(100vh - 2* var(--mat-toolbar-standard-height));
    background-color: gray;
    overflow-y: auto;
    padding-block: 20px;
    box-sizing: border-box;
}

@media (max-width: 599px)
{
    section {
        height: calc(100vh - 2* var(--mat-toolbar-mobile-height));
    }
    
}

