<ng-container [formGroup]="parentForm">
    <h2>Location:</h2>
    <section [formGroupName]="childFromName">
        
        <app-text-input 
        [parentForm]="childFrom" 
        [controlName]="'city'"
        [label]="'city'"
        [placeholder]="'enter city'"></app-text-input>

        <app-text-input 
        [parentForm]="childFrom" 
        [controlName]="'contry'"
        [label]="'contry'"
        placeholder="'enter contry"></app-text-input>

        <app-text-input 
        [parentForm]="childFrom" 
        [controlName]="'address'" 
        [label]="'address'"
        [placeholder]="'enter address'"></app-text-input>

    </section>
</ng-container>
