
@use "my-theme";

@mixin generateColors($prefix, $palette) {
    $colors-map: ();
  
    @each $key, $value in $palette {
      @if $key !=contrast {
        .app-#{$prefix}-#{$key} {
          color: map-get($palette, $key);
        }
  
      $map: ();
      $map: map-merge($map, ($key: $value));
      $colors-map: map-merge($colors-map, $map);
      }
    }
  
    :root {
      @each $key, $value in $colors-map {
        --app-#{$prefix}-#{$key}: #{$value};
      }
    }
  }
  
  @mixin generate-material-classes {
     @include generateColors(primary, my-theme.$my-app-primary);
     @include generateColors(accent, my-theme.$my-app-accent);
  }