/* You can add global styles to this file, and also import other style files */
@import 'generate-material-colors';
@include generate-material-classes();

@font-face {
  font-family: "Workbench-Regular";
  src: url("./assets/fonts/Workbench-Regular.ttf");
}

html, body { height: 100%; }
body { margin: 0; font-family: sans-serif; }

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--app-primary-500);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}